html,
body
  overflow-x: hidden

html
  background-color: $white-color
  color: $font-color
  font-family: 'Lato', 'Aria', sans-serif
  font-weight: 300
  font-size: 20px
  line-height: 1.5
  text-rendering: optimizeLegibility
  @media (max-width: 1023px)
    font-size: 18px
  @media (max-width: 767px)
    font-size: 16px
  @media (max-width: 480px)
    font-size: 14px

a
  text-decoration: none

section
  padding: 100px 0
  @media (max-width: 1023px)
    padding: 50px 0
  @media (max-width: 767px)
    padding: 40px 0

blockquote
  padding: 2%
  font-style: italic
  line-height: 150%
  letter-spacing: 1px
  margin-top: 50px
  @media (max-width: 767px)
    padding: 0 20px
    text-align: center
  &::before
    content: "\201C"
    font-size: 400%
    font-family: inherit
    display: block

cite
  font-size: 90%
  margin-top: 25px
  display: block
  line-height: 150%
  cursor: default
  &:hover
    img
      -webkit-transform: scale(1.2)
      -ms-transform: scale(1.2)
      -o-transform: scale(1.2)
      transform: scale(1.2)
  img
    vertical-align: middle
    height: 40px
    border-radius: 50%
    margin-right: 10px
    line-height: 150%
    transition: transform 0.15s ease-in-out

.row
  width: 90%
  max-width: 1140px
  margin: 0 auto
  @media (max-width: 1200px)
    padding: 0 2%
  @media (max-width: 767px)
    padding: 0 4%
  @media (max-width: 480px)
    padding: 1%

.clearfix
  zoom: 1
  &::after
    content: '.'
    clear: both
    display: block
    height: 0
    visibility: hidden

.box
  box-sizing: border-box
  padding: 1%
  cursor: default
  @media (max-width: 767px)
    text-align: center
    p
      width: 90%
      margin: 0 auto
      font-size: 100%
  &:hover
    .icon-big
      transform: scale(1.2)
      @media (max-width: 767px)
        transform: none


.col
  box-sizing: border-box
  @media (max-width: 767px)
    width: 100%
