.contact-form
  width: 60%
  margin: 0 auto
  margin-top: 50px

input[type="text"],
input[type="email"],
select,
textarea
  width: 100%
  padding: 7px
  border: 1px solid #cccccc
  outline: none
  border-radius: 3px
  transition: all 0.2s ease
  &:focus
    border-color: $font-color

textarea
  height: 100px
  resize: none

input[type="submit"]
  outline: none
  cursor: pointer

input[type="checkbox"]
  margin-right: 10px
