header
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/hero.jpg") center center no-repeat
  background-size: cover
  background-attachment: fixed
  height: 100vh

.hero-text-box
  position: absolute
  width: 100%
  max-width: 1140px
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  @media (max-width: 1200px)
    width: 90%
    padding: 4% 2%
  @media (max-width: 767px)
    padding: 4% 4%
  @media (max-width: 480px)
    padding: 1%

header .btn-full
  margin-right: 20px
