nav,
nav .row
  width: 100%
  height: $nav-height
  transition: all 0.4s ease

nav .row
  display: flex
  align-items: center

.logo
  height: 100px
  width: auto
  margin: 20px 0
  transition: all 0.4s ease

.main-nav
  list-style: none
  margin: 0
  margin-left: auto
  li
    display: inline-block
    margin-right: 30px

.nav-links:link,
.nav-links:visited
  display: block
  color: $white-color
  font-size: 90%
  letter-spacing: 1px
  word-spacing: 2px
  line-height: $nav-height
  border-bottom: 3px solid transparent
  padding: 0 10px
  transition: all 0.2s ease
  &:hover,
  &:active
    border-color: $orange-color

@media (max-width: 767px)
  .main-nav
    display: none

.logo-black
  display: none

// Sticky Navbar
.sticky
  background-color: rgba(255,255,255,0.95)
  position: fixed
  top: 0
  left: 0
  width: 100%
  box-shadow: 0 2px 2px #efefef
  z-index: 9999
  height: 80px
.sticky .logo
  height: 60px
.sticky .main-nav
  height: 80px
.sticky .nav-links
  color: $font-color
  line-height: 80px
.sticky .logo-white
  display: none
.sticky .logo-black
  display: inline-block
.sticky .row
  height: 80px
